# ignore build directory
**/build

# ignore .vscode
.vscode/**

# but include some files from .vscode
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json

# macOS users ... you're welcome!
.DS_Store